$blue: rgb(105, 210, 235);
$blue2: rgb(0, 200, 240);
$white: rgb(255, 255, 255);
$color: rgb(240, 240, 240);
$color190: rgb(190, 190, 190);
$orange: rgb(255, 183, 49);
$red: rgb(255, 50, 50); 
$i-b: inline-block; //行 块
$fl: flex; //弹性盒子
$fix: fixed; //固定定位
$rel: relative; //相对定位
$abs: absolute; //绝对定位

//通用
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    min-width: 390px;
    background-color: $color;
}
.header-t {
    position: $fix;
    z-index: 99;
    top: 0;
    display: $fl;
    justify-content: space-between;
    width: 100%; 
    height: 45px;
    background-color: $blue;
    p {
        padding: 10px 0;
        font-size: 20px;
        color: $white;
    }
}
footer {
    display: $i-b;
    position: $fix;
    bottom: 0;
    display: $fl;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: rgba(105, 210, 235, 0.6);
    #btnle, #btnrig {
        margin: 10px 0;
        width: 100px;
        height: 40px;
        color: $white;
        border-radius: 10px;
        border: none;
    }
    #btnle {
        background-color: $orange;
    }
    #btnrig {
        background-color: $red;
    }
}


//法官日志页面
main {
    width: 380px;
    margin: 66px auto 0;
    padding-bottom: 60px;
    .m-ben {
        margin-bottom: 30px;
        background-color: $white;
        border: 1px solid $color190;
        .benT {
            text-align: center;
            border-bottom: 1px solid $color190;
            h1 {
                padding: 10px;
                font-size: 20px;
                font-weight: 500;
                color: $blue;
            }
        }
        .benR {
            position: $rel;
            margin: 20px;
            padding-left: 25px;
            border-left: 1px solid $color190;
            .benL {
                position: $abs;
                top: -15px;
                left: 0;
                height: 100px;
            }
            .kill, .Wling, .Fyan, .Tpiao {
                position: $rel;
                display: block;
                margin: 10px 0;
                padding: 10px;
                width: 300px;
                color: $white;
                background-color: $blue2;
                border: none;
            }
            h5 {
                margin: 5px;
                text-align: center;
                font-weight: 500;
            }
            .left::before {
                content: "";
                position: $abs;
                left: -10px;
                border-top: 8px solid $white;
                border-right: 10px solid $blue2;
                border-bottom: 8px solid $white;
            }
            .step-chance::before {
              content: "";
              position: $abs;
              left: -10px;
              border-top: 8px solid $white;
              border-right: 10px solid grey;
              border-bottom: 8px solid $white;
            }
            .moon::before {
                position: $abs;
                left: -17px;
                content: "";
                width: 30px;
                height: 30px;
                border: 1px solid $color190;
                border-radius: 50%;
                background-color: $white;
                background-image: url(moon.png);
            }
            .sun::before {
                position: $abs;
                left: -17px;
                content: "";
                width: 30px;
                height: 30px;
                border: 1px solid $color190;
                border-radius: 50%;
                background-color: $white;
                background-image: url(sun.png);
            }
        }
    }
}

//结果页身体
.top {
    background-color: $blue;
    .box-top {
        margin-top: 46px;
        text-align: center;
        background-image: url(end.png);
        background-repeat: no-repeat;
        background-size: 240px;
        background-position: center;
        height: 170px;
        background-color: $blue;
    }
    .icon {
        margin-top: 30px;
        margin-right: -5px;
        width: 57px;
        height: 55px;
    }
    h2 {
        margin-top: 20px;
        color: $white;
    }
    h3 {
        padding: 0 30px;
        color: $orange;
    }
    @media screen and (min-width:590px) {
        h3 {
            text-align: center;
        }
        .cen {
            margin: 0 auto;
        }
    }
    .cen {
        padding: 20px 30px;
        width: 200px;
        color: $white;
        h4 {
            margin: 5px 10px 5px 0;
            display: $i-b;
            font-weight: 500;
        }
    }
}
.main {
    margin: 0;
    width: 100%;
    .main-t {
        padding: 10px 30px;
        border-bottom: 1px solid $color190;
        .box {
            display: $fl;
            justify-content: space-between;
            font-size: 15px;
        }
        h6 {
            padding-top: 10px;
            font-size: 10px;
            font-weight: 500;
            color: $color190;
        }
    }
}