@import "task.scss";


.top {
    margin: 5px;
    padding: 3px;
    text-align: center;
}
span {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(PS/sprite3.png);
}
.icon1 {
    float: left;
    background-position: 0 30px;
}
.icon2 {
    float: right;
    background-position: 30px 0;
}
.icon3 {
    vertical-align: middle;
    background-position: 0 0;
}
.main-top {
    margin-top: 10px;
    .box-l {
        padding: 10px;
        width: 40px;
        background-color: $white;
    }
    .box-r {
        display: inline-block;
        width: 119.6px;
        margin-left: 10px;
        margin-bottom: 150px;
        text-align: left;
        #orlm, #killer {
            display: inline-block;
        }
    }
    .box-r-top, .box-r-bottom {
        background-color: $color250;
    }
    .box-r-top {
        padding: 15px 25px;
    }
}
.box {
    display: inline-block;
    padding: 8px;
}
.orange, .blue {
    vertical-align: middle;
    display: inline-block;
    margin: 10px 0 13px;
    width: 7px;
    height: 7px;
}
.orange {
    background-color: $orange;
}
.blue {
    background-color: $blue;
}
.main-center {
    margin-top: 10px;
    padding: 10px;
    background-color: $white;
}
#iptSm, #iptSs, #btm, #orlm, #killer {
    margin: 5px 10px;
    width: 330px;
    height: 27px;
    outline: none;
    color: $black; 
    border: 1px solid $white;
    border-bottom: 1px solid $color210;
}
#orlm, #killer {
    margin: 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-color: $color250;
    border: 1px solid $color250;
}
.main-bottom {
    margin: 10px 0;
    padding: 10px;
    overflow: hidden;
    background-color: $white;
}
.main-btm-t {
    float: left;
}
#btm {
    width: 30px;
    font-size: 1.5rem;
    color: $orange;
    background-color: $color250;
    border: none;
}
#footer-t {
    margin: 20px auto 0;
    display: block;
    width: 380px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid $orange;
    background-color: $orange;
}
.bottom-box {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: .2rem auto 0 auto;
}
/*拖动块的样式*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;/*清除系统默认样式*/
    width: 27px;
    height: 1rem;
    background: url(PS/img2.jpg) no-repeat 0/cover;
    border: none;
    cursor: pointer;
}
/*横条样式*/
input[type=range] {
    -webkit-appearance: none;/*清除系统默认样式*/
    width: 90%;
    height: 3px;/*横条的高度*/
    background-color: $color210;
    outline: none;
    cursor: pointer;
}
.slider-value {	
    position: absolute;
    left: 36.94px;
    background-image: linear-gradient(90deg, #82E0F7 0%, #009DDC 52%);
    height: 6px;	
    width: 0;	
    max-width: 261px;
    border-radius: 5px;	
}
.img1, .img3 {
    margin: 3px 10px;
    width: 1.2rem;
    height: 1rem;
    background: url(PS/img1.jpg) no-repeat 0 0/cover;
    outline: none;
    border: none;
}
.img3 {
    background: url(PS/img3.jpg) no-repeat 0 0/cover;
}

h1, h2, h3, h4 {
    display: inline-block;
    font-weight: 300;
}
h3, h4 {
    font-size: 1rem;
}
h1 {
    font-size: 1.5rem;
    font-weight: 500;
}
h2 {
    margin: 2px 0;
    line-height: 1;
    color: $white;
}
h3 {
    color: $color210;
}
h4 {
    color: $blue;
    font-weight: 500;
}