* {
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #f0f0f0;
  min-width: 400px;
  height: 100%;
}

.header-top {
  position: fixed;
  z-index: 99;
  line-height: 0;
  width: 100%;
  background-color: #69d2eb;
}

main {
  text-align: center;
  padding-top: 44px;
  overflow: hidden;
  margin: 0 auto;
  width: 380px;
}
