@import "task.scss";
@mixin box-shadow($shadows...) {
    box-shadow: $shadows;
}

//影藏的侧边栏
#sidemenu{
    display: $n;
}
#sidemenu:checked + aside {
    left: 0;
}
#sidemenu:checked ~ #wrap {
    padding-left: 220px;
}
ul {
    padding: 0;
}
aside {
    position: $abs;
    top: 45px;
    z-index: 99;
    left: -310px;
    width: 300px;
    height: 100%;
    background: $white;
    transition: 0.5s ease-out;
    @include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
}
#box-t {
    transition: 0.5s ease-out;
    margin-left: 20px;
}
label {
    background: $blue;
    color: $white;
    cursor: pointer;
    font-size: 2em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
}
#sideul li {
    display: flex;
    justify-content: space-between;
    list-style: $n;
    line-height: 1.5;
    color: $blue;
    font-size: 1em;
    padding: 5px 0;
    border-bottom: 1px solid $color210;
}
.a {
    margin-left: -200px;
}
a {
    text-decoration: $n;
}
.top {
    height: 45px;
    background-color: $blue;
    .top-l, .top-r {
        float: left;
        margin: 9.5px 0;
        .tiao {
            margin: 5px;
            padding: 1px 15px;
            background-color: $white;
        }
    }
}

main {
    position: $rel;
    .main-top {
        margin: 20px 0;
        padding: 20px 0;
        background-color: $white;
        border: 1px solid $color210;
        h2 {
            margin: 6px 0;
            display: inline-block;
            font-size: 1rem;
            color: $color210;
        }
    }
    .main-bottom {
        margin: 0 0 10px;
        border: 1px solid $color210;
        .form {
            position: $rel;
            background-color: $white;
        }
        .form-top {
            padding: 15px;
            border-bottom: 1px solid $orange;
        }
        .item {
            margin: 15px auto;
            width: 300px;
            height: 70px;
            background-color: $blue;
        }
        #item {
            width: 300px;
            height: 70px;
            background-color: $blue;
            border: 1px solid $blue;
        }
        h3 {
            color: $orange;
        }
        h5 {
            color: $color210;
        }
        p {
            font-size: 1rem;
            padding: 24.5px 0;
            color: $white;
        }
    }
}
li {
    margin: 2px;
}
.active {
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background-color: $blue;
}
.active-r {
    @extend.active;
    background-color: $color210;
}
span {
    width: 31.5px; 
    height: 31.5px; 
    background-size: 63px 63px;
    background-image: url(PS/sprite.png); 
    margin-right: 5px;
}
.icon-1 {
    position: $abs;
    right: 5px;
    margin-top: 3px;
    background-position: -31.5px 2px;
}
.icon2 {
    background-position: 0 0;
    position: $abs;
    top: 210px;
    right: 0;
}
.icon-l {
    background-position: 0 0;
    position: $abs;
    top: 205px;
    left: 5px;
    transform:rotate(180deg);
}
//侧边栏图
.span-two {
    width: 25px;
    height: 25px;
    background-image: url(PS/sprite2.png);
}
.icon3 {
    @extend .span-two;
    background-position: 0 -50px;
}
.one {
    @extend .span-two;
    margin-left: 10px;
    background-position: 0 0;
}
.two {
    @extend .one;
    background-position: -25px 0;
}
.three {
    @extend .one;
    background-position: 0 -25px;
}
.four {
    @extend .one;
    background-position: -25px -25px;
}